$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #0097FD;
$secondary_paletteKeyColor: #6B7697;
$tertiary_paletteKeyColor: #7273A5;
$neutral_paletteKeyColor: #717781;
$neutral_variant_paletteKeyColor: #707885;
$background: #0E141C;
$onBackground: #DDE3EE;
$surface: #0E141C;
$surfaceDim: #0E141C;
$surfaceBright: #333A43;
$surfaceContainerLowest: #080F16;
$surfaceContainerLow: #161C24;
$surfaceContainer: #1A2028;
$surfaceContainerHigh: #242A33;
$surfaceContainerHighest: #2F353E;
$onSurface: #DDE3EE;
$surfaceVariant: #3F4753;
$onSurfaceVariant: #BFC7D5;
$inverseSurface: #DDE3EE;
$inverseOnSurface: #2B313A;
$outline: #89919E;
$outlineVariant: #3F4753;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #9FCAFF;
$primary: #9FCAFF;
$onPrimary: #003259;
$primaryContainer: #00497E;
$onPrimaryContainer: #D2E4FF;
$inversePrimary: #0061A5;
$secondary: #BAC6EA;
$onSecondary: #24304D;
$secondaryContainer: #3D4867;
$onSecondaryContainer: #DAE2FF;
$tertiary: #C1C2F9;
$onTertiary: #2A2C59;
$tertiaryContainer: #8B8CC1;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D2E4FF;
$primaryFixedDim: #9FCAFF;
$onPrimaryFixed: #001C37;
$onPrimaryFixedVariant: #00497E;
$secondaryFixed: #DAE2FF;
$secondaryFixedDim: #BAC6EA;
$onSecondaryFixed: #0E1A37;
$onSecondaryFixedVariant: #3B4664;
$tertiaryFixed: #E1E0FF;
$tertiaryFixedDim: #C1C2F9;
$onTertiaryFixed: #151643;
$onTertiaryFixedVariant: #414271;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #343434;
$term1: #8383FF;
$term2: #64DCF0;
$term3: #75FCDD;
$term4: #86AED2;
$term5: #94A7EF;
$term6: #8FD1F6;
$term7: #CCDBD5;
$term8: #C3B5C0;
$term9: #BCB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C6DFF4;
$term13: #D1D7FF;
$term14: #F6FBFF;
$term15: #FFFFFF;
