$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #707885;
$secondary_paletteKeyColor: #73777F;
$tertiary_paletteKeyColor: #6C788A;
$neutral_paletteKeyColor: #787778;
$neutral_variant_paletteKeyColor: #787778;
$background: #131314;
$onBackground: #E4E2E3;
$surface: #131314;
$surfaceDim: #131314;
$surfaceBright: #39393A;
$surfaceContainerLowest: #0E0E0F;
$surfaceContainerLow: #1B1B1D;
$surfaceContainer: #1F1F21;
$surfaceContainerHigh: #2A2A2B;
$surfaceContainerHighest: #353536;
$onSurface: #E4E2E3;
$surfaceVariant: #474648;
$onSurfaceVariant: #C8C6C7;
$inverseSurface: #E4E2E3;
$inverseOnSurface: #303031;
$outline: #919092;
$outlineVariant: #474648;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BFC7D5;
$primary: #BFC7D5;
$onPrimary: #29313C;
$primaryContainer: #3F4753;
$onPrimaryContainer: #DBE3F1;
$inversePrimary: #575F6B;
$secondary: #C3C6CF;
$onSecondary: #2C3137;
$secondaryContainer: #454950;
$onSecondaryContainer: #DFE2EB;
$tertiary: #BBC7DB;
$onTertiary: #253140;
$tertiaryContainer: #8592A4;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #DBE3F1;
$primaryFixedDim: #BFC7D5;
$onPrimaryFixed: #141C26;
$onPrimaryFixedVariant: #3F4753;
$secondaryFixed: #DFE2EB;
$secondaryFixedDim: #C3C6CF;
$onSecondaryFixed: #171C22;
$onSecondaryFixedVariant: #43474E;
$tertiaryFixed: #D7E3F8;
$tertiaryFixedDim: #BBC7DB;
$onTertiaryFixed: #101C2B;
$onTertiaryFixedVariant: #3C4858;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #343434;
$term1: #8383FF;
$term2: #64DCF0;
$term3: #75FCDD;
$term4: #87AED2;
$term5: #95A7EF;
$term6: #90D1F7;
$term7: #CCDBD5;
$term8: #C3B5C0;
$term9: #BCB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C6DFF4;
$term13: #D2D8FF;
$term14: #F6FBFF;
$term15: #FFFFFF;
