$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #707885;
$secondary_paletteKeyColor: #73777F;
$tertiary_paletteKeyColor: #6C788A;
$neutral_paletteKeyColor: #787778;
$neutral_variant_paletteKeyColor: #787778;
$background: #FBF9FA;
$onBackground: #1B1B1D;
$surface: #FBF9FA;
$surfaceDim: #DCD9DB;
$surfaceBright: #FBF9FA;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F5F3F4;
$surfaceContainer: #F0EDEE;
$surfaceContainerHigh: #EAE7E9;
$surfaceContainerHighest: #E4E2E3;
$onSurface: #1B1B1D;
$surfaceVariant: #E4E2E3;
$onSurfaceVariant: #474648;
$inverseSurface: #303031;
$inverseOnSurface: #F3F0F1;
$outline: #757475;
$outlineVariant: #C8C6C7;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #575F6B;
$primary: #575F6B;
$onPrimary: #FFFFFF;
$primaryContainer: #DBE3F1;
$onPrimaryContainer: #3F4753;
$inversePrimary: #BFC7D5;
$secondary: #5A5F66;
$onSecondary: #FFFFFF;
$secondaryContainer: #DCE0E8;
$onSecondaryContainer: #43474E;
$tertiary: #697587;
$onTertiary: #FFFFFF;
$tertiaryContainer: #697587;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #DBE3F1;
$primaryFixedDim: #BFC7D5;
$onPrimaryFixed: #141C26;
$onPrimaryFixedVariant: #3F4753;
$secondaryFixed: #DFE2EB;
$secondaryFixedDim: #C3C6CF;
$onSecondaryFixed: #171C22;
$onSecondaryFixedVariant: #43474E;
$tertiaryFixed: #D7E3F8;
$tertiaryFixedDim: #BBC7DB;
$onTertiaryFixed: #101C2B;
$onTertiaryFixedVariant: #3C4858;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #9A9A9A;
$term1: #4257C2;
$term2: #2F89AE;
$term3: #7E60B0;
$term4: #009993;
$term5: #4865BB;
$term6: #5384AE;
$term7: #212225;
$term8: #0D0D0D;
$term9: #4257C2;
$term10: #2F89AE;
$term11: #7E60B0;
$term12: #009993;
$term13: #4865BB;
$term14: #5384AE;
$term15: #212225;
