$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #477AB2;
$secondary_paletteKeyColor: #677890;
$tertiary_paletteKeyColor: #8B5995;
$neutral_paletteKeyColor: #75777B;
$neutral_variant_paletteKeyColor: #727780;
$background: #111317;
$onBackground: #E2E2E7;
$surface: #111317;
$surfaceDim: #111317;
$surfaceBright: #37393D;
$surfaceContainerLowest: #0C0E12;
$surfaceContainerLow: #191C1F;
$surfaceContainer: #1D2023;
$surfaceContainerHigh: #282A2E;
$surfaceContainerHighest: #333539;
$onSurface: #E2E2E7;
$surfaceVariant: #42474F;
$onSurfaceVariant: #C2C7D1;
$inverseSurface: #E2E2E7;
$inverseOnSurface: #2E3034;
$outline: #8C919A;
$outlineVariant: #42474F;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #9FCAFF;
$primary: #9FCAFF;
$onPrimary: #003259;
$primaryContainer: #3A6EA5;
$onPrimaryContainer: #E4EEFF;
$inversePrimary: #2B6197;
$secondary: #B6C8E2;
$onSecondary: #203146;
$secondaryContainer: #37485E;
$onSecondaryContainer: #A5B6D0;
$tertiary: #EDB3F6;
$onTertiary: #4A1D55;
$tertiaryContainer: #B37EBD;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D2E4FF;
$primaryFixedDim: #9FCAFF;
$onPrimaryFixed: #001C37;
$onPrimaryFixedVariant: #02497E;
$secondaryFixed: #D2E4FF;
$secondaryFixedDim: #B6C8E2;
$onSecondaryFixed: #091C30;
$onSecondaryFixedVariant: #37485E;
$tertiaryFixed: #FCD6FF;
$tertiaryFixedDim: #EDB3F6;
$onTertiaryFixed: #32043F;
$onTertiaryFixedVariant: #63346D;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #343434;
$term1: #8383FF;
$term2: #64DCF0;
$term3: #75FCDD;
$term4: #86AED2;
$term5: #95A7EF;
$term6: #8FD1F6;
$term7: #CCDBD5;
$term8: #C3B5C0;
$term9: #BCB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C6DFF4;
$term13: #D1D7FF;
$term14: #F6FBFF;
$term15: #FFFFFF;
