$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #5D813E;
$secondary_paletteKeyColor: #946B83;
$tertiary_paletteKeyColor: #6576A5;
$neutral_paletteKeyColor: #757780;
$neutral_variant_paletteKeyColor: #737785;
$background: #FAF8FF;
$onBackground: #191B23;
$surface: #FAF8FF;
$surfaceDim: #D9D9E3;
$surfaceBright: #FAF8FF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F3F3FD;
$surfaceContainer: #EDEDF7;
$surfaceContainerHigh: #E7E7F2;
$surfaceContainerHighest: #E1E2EC;
$onSurface: #191B23;
$surfaceVariant: #DFE2F2;
$onSurfaceVariant: #424654;
$inverseSurface: #2E3038;
$inverseOnSurface: #F0F0FA;
$outline: #707483;
$outlineVariant: #C3C6D6;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #456828;
$primary: #456828;
$onPrimary: #FFFFFF;
$primaryContainer: #C6EF9F;
$onPrimaryContainer: #2E4F12;
$inversePrimary: #AAD386;
$secondary: #795369;
$onSecondary: #FFFFFF;
$secondaryContainer: #FDCCE7;
$onSecondaryContainer: #5F3C51;
$tertiary: #6274A2;
$onTertiary: #FFFFFF;
$tertiaryContainer: #6274A2;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #C6EF9F;
$primaryFixedDim: #AAD386;
$onPrimaryFixed: #0D2000;
$onPrimaryFixedVariant: #2E4F12;
$secondaryFixed: #FFD8EC;
$secondaryFixedDim: #E9B9D3;
$onSecondaryFixed: #2E1125;
$onSecondaryFixedVariant: #5F3C51;
$tertiaryFixed: #DAE2FF;
$tertiaryFixedDim: #B4C5F9;
$onTertiaryFixed: #031943;
$onTertiaryFixedVariant: #344571;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #9C9A96;
$term1: #686300;
$term2: #5D8D33;
$term3: #6C7611;
$term4: #78923B;
$term5: #8B6300;
$term6: #528D57;
$term7: #1F2323;
$term8: #0D0D0D;
$term9: #686300;
$term10: #5D8D33;
$term11: #6C7611;
$term12: #78923B;
$term13: #8B6300;
$term14: #528D57;
$term15: #1F2323;
