$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #0097FD;
$secondary_paletteKeyColor: #6B7697;
$tertiary_paletteKeyColor: #7273A5;
$neutral_paletteKeyColor: #717781;
$neutral_variant_paletteKeyColor: #707885;
$background: #F8F9FF;
$onBackground: #161C24;
$surface: #F8F9FF;
$surfaceDim: #D5DAE6;
$surfaceBright: #F8F9FF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #EFF4FF;
$surfaceContainer: #E8EEFA;
$surfaceContainerHigh: #E3E8F4;
$surfaceContainerHighest: #DDE3EE;
$onSurface: #161C24;
$surfaceVariant: #DBE3F1;
$onSurfaceVariant: #3F4753;
$inverseSurface: #2B313A;
$inverseOnSurface: #EBF1FD;
$outline: #6D7582;
$outlineVariant: #BFC7D5;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #0061A5;
$primary: #0061A5;
$onPrimary: #FFFFFF;
$primaryContainer: #D2E4FF;
$onPrimaryContainer: #00497E;
$inversePrimary: #9FCAFF;
$secondary: #525E7D;
$onSecondary: #FFFFFF;
$secondaryContainer: #CED9FF;
$onSecondaryContainer: #3B4664;
$tertiary: #6F70A3;
$onTertiary: #FFFFFF;
$tertiaryContainer: #6F70A3;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #D2E4FF;
$primaryFixedDim: #9FCAFF;
$onPrimaryFixed: #001C37;
$onPrimaryFixedVariant: #00497E;
$secondaryFixed: #DAE2FF;
$secondaryFixedDim: #BAC6EA;
$onSecondaryFixed: #0E1A37;
$onSecondaryFixedVariant: #3B4664;
$tertiaryFixed: #E1E0FF;
$tertiaryFixedDim: #C1C2F9;
$onTertiaryFixed: #151643;
$onTertiaryFixedVariant: #414271;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #9A9A9A;
$term1: #3F57C2;
$term2: #2C89AE;
$term3: #7E60B0;
$term4: #009993;
$term5: #4766BB;
$term6: #5284AE;
$term7: #212225;
$term8: #0D0D0D;
$term9: #3F57C2;
$term10: #2C89AE;
$term11: #7E60B0;
$term12: #009993;
$term13: #4766BB;
$term14: #5284AE;
$term15: #212225;
