$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #477AB2;
$secondary_paletteKeyColor: #677890;
$tertiary_paletteKeyColor: #8B5995;
$neutral_paletteKeyColor: #75777B;
$neutral_variant_paletteKeyColor: #727780;
$background: #F9F9FE;
$onBackground: #191C1F;
$surface: #F9F9FE;
$surfaceDim: #D9DADF;
$surfaceBright: #F9F9FE;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F3F3F8;
$surfaceContainer: #EDEDF3;
$surfaceContainerHigh: #E7E8ED;
$surfaceContainerHighest: #E2E2E7;
$onSurface: #191C1F;
$surfaceVariant: #DEE3ED;
$onSurfaceVariant: #42474F;
$inverseSurface: #2E3034;
$inverseOnSurface: #F0F0F5;
$outline: #70757E;
$outlineVariant: #C2C7D1;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #2B6197;
$primary: #4477AF;
$onPrimary: #FFFFFF;
$primaryContainer: #3A6EA5;
$onPrimaryContainer: #E4EEFF;
$inversePrimary: #9FCAFF;
$secondary: #4E6076;
$onSecondary: #FFFFFF;
$secondaryContainer: #D2E4FF;
$onSecondaryContainer: #54667D;
$tertiary: #95629F;
$onTertiary: #FFFFFF;
$tertiaryContainer: #95629F;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #D2E4FF;
$primaryFixedDim: #9FCAFF;
$onPrimaryFixed: #001C37;
$onPrimaryFixedVariant: #02497E;
$secondaryFixed: #D2E4FF;
$secondaryFixedDim: #B6C8E2;
$onSecondaryFixed: #091C30;
$onSecondaryFixedVariant: #37485E;
$tertiaryFixed: #FCD6FF;
$tertiaryFixedDim: #EDB3F6;
$onTertiaryFixed: #32043F;
$onTertiaryFixedVariant: #63346D;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #9A9A9A;
$term1: #3F57C2;
$term2: #2C89AE;
$term3: #7E60B0;
$term4: #009993;
$term5: #4766BB;
$term6: #5284AE;
$term7: #212225;
$term8: #0D0D0D;
$term9: #3F57C2;
$term10: #2C89AE;
$term11: #7E60B0;
$term12: #009993;
$term13: #4766BB;
$term14: #5284AE;
$term15: #212225;
