$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #5D813E;
$secondary_paletteKeyColor: #946B83;
$tertiary_paletteKeyColor: #6576A5;
$neutral_paletteKeyColor: #757780;
$neutral_variant_paletteKeyColor: #737785;
$background: #11131A;
$onBackground: #E1E2EC;
$surface: #11131A;
$surfaceDim: #11131A;
$surfaceBright: #373941;
$surfaceContainerLowest: #0C0E15;
$surfaceContainerLow: #191B23;
$surfaceContainer: #1D1F27;
$surfaceContainerHigh: #282A31;
$surfaceContainerHighest: #32343C;
$onSurface: #E1E2EC;
$surfaceVariant: #424654;
$onSurfaceVariant: #C3C6D6;
$inverseSurface: #E1E2EC;
$inverseOnSurface: #2E3038;
$outline: #8D909F;
$outlineVariant: #424654;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #AAD386;
$primary: #AAD386;
$onPrimary: #1A3700;
$primaryContainer: #2E4F12;
$onPrimaryContainer: #C6EF9F;
$inversePrimary: #456828;
$secondary: #E9B9D3;
$onSecondary: #46263A;
$secondaryContainer: #623E54;
$onSecondaryContainer: #FFD8EC;
$tertiary: #B4C5F9;
$onTertiary: #1C2F59;
$tertiaryContainer: #7E90C0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #C6EF9F;
$primaryFixedDim: #AAD386;
$onPrimaryFixed: #0D2000;
$onPrimaryFixedVariant: #2E4F12;
$secondaryFixed: #FFD8EC;
$secondaryFixedDim: #E9B9D3;
$onSecondaryFixed: #2E1125;
$onSecondaryFixedVariant: #5F3C51;
$tertiaryFixed: #DAE2FF;
$tertiaryFixedDim: #B4C5F9;
$onTertiaryFixed: #031943;
$onTertiaryFixedVariant: #344571;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #343433;
$term1: #93962F;
$term2: #AED96F;
$term3: #D5F27E;
$term4: #8CB58A;
$term5: #C6A844;
$term6: #ACD591;
$term7: #D8DAC4;
$term8: #B9BBA9;
$term9: #C1C742;
$term10: #FAFFE9;
$term11: #FFFFFF;
$term12: #CDE3C2;
$term13: #EADB83;
$term14: #F2FFE1;
$term15: #FFFFFF;
