$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #767C0B;
$secondary_paletteKeyColor: #777B31;
$tertiary_paletteKeyColor: #3F8464;
$neutral_paletteKeyColor: #6E7A72;
$neutral_variant_paletteKeyColor: #657C6E;
$background: #0B1610;
$onBackground: #D9E6DC;
$surface: #0B1610;
$surfaceDim: #0B1610;
$surfaceBright: #303C35;
$surfaceContainerLowest: #06100B;
$surfaceContainerLow: #131E18;
$surfaceContainer: #17221C;
$surfaceContainerHigh: #212C26;
$surfaceContainerHighest: #2C3730;
$onSurface: #D9E6DC;
$surfaceVariant: #364B3F;
$onSurfaceVariant: #B4CCBC;
$inverseSurface: #D9E6DC;
$inverseOnSurface: #28332C;
$outline: #7F9688;
$outlineVariant: #364B3F;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C7CD5B;
$primary: #C7CD5B;
$onPrimary: #303300;
$primaryContainer: #464A00;
$onPrimaryContainer: #E3EA73;
$inversePrimary: #5E6300;
$secondary: #C7CC79;
$onSecondary: #303300;
$secondaryContainer: #494D04;
$onSecondaryContainer: #E4E892;
$tertiary: #8FD5B0;
$onTertiary: #003824;
$tertiaryContainer: #599E7C;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E3EA73;
$primaryFixedDim: #C7CD5B;
$onPrimaryFixed: #1B1D00;
$onPrimaryFixedVariant: #464A00;
$secondaryFixed: #E4E892;
$secondaryFixedDim: #C7CC79;
$onSecondaryFixed: #1B1D00;
$onSecondaryFixedVariant: #464A02;
$tertiaryFixed: #AAF2CB;
$tertiaryFixedDim: #8FD5B0;
$onTertiaryFixed: #002113;
$onTertiaryFixedVariant: #005236;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #3A3938;
$term1: #D6953D;
$term2: #E9EC6C;
$term3: #FFFFFF;
$term4: #99CAA6;
$term5: #FFAD72;
$term6: #CCEDA1;
$term7: #FDF3D9;
$term8: #DAD0BB;
$term9: #FFD09A;
$term10: #FFFFFF;
$term11: #FFFFFF;
$term12: #E7FFDE;
$term13: #FFF4ED;
$term14: #FFFFFF;
$term15: #FFFFFF;
