$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #FD006F;
$secondary_paletteKeyColor: #9E6A64;
$tertiary_paletteKeyColor: #A7674B;
$neutral_paletteKeyColor: #877275;
$neutral_variant_paletteKeyColor: #8A7175;
$background: #FFF8F7;
$onBackground: #26181A;
$surface: #FFF8F7;
$surfaceDim: #EED4D7;
$surfaceBright: #FFF8F7;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF0F1;
$surfaceContainer: #FFE9EB;
$surfaceContainerHigh: #FDE2E5;
$surfaceContainerHighest: #F7DCDF;
$onSurface: #26181A;
$surfaceVariant: #FADBDF;
$onSurfaceVariant: #574145;
$inverseSurface: #3C2C2F;
$inverseOnSurface: #FFECEE;
$outline: #876E72;
$outlineVariant: #DDBFC3;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BC0050;
$primary: #BC0050;
$onPrimary: #FFFFFF;
$primaryContainer: #FFD9DF;
$onPrimaryContainer: #90003C;
$inversePrimary: #FFB1C0;
$secondary: #82524D;
$onSecondary: #FFFFFF;
$secondaryContainer: #FEC0B8;
$onSecondaryContainer: #673B36;
$tertiary: #A46549;
$onTertiary: #FFFFFF;
$tertiaryContainer: #A46549;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #FFD9DF;
$primaryFixedDim: #FFB1C0;
$onPrimaryFixed: #3F0016;
$onPrimaryFixedVariant: #90003C;
$secondaryFixed: #FFDAD6;
$secondaryFixedDim: #F5B7B0;
$onSecondaryFixed: #33110E;
$onSecondaryFixedVariant: #673B36;
$tertiaryFixed: #FFDBCD;
$tertiaryFixedDim: #FFB597;
$onTertiaryFixed: #360F00;
$onTertiaryFixedVariant: #6D3820;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #F3E2E3;
$term1: #B52755;
$term2: #A97363;
$term3: #AF535C;
$term4: #A67F7B;
$term5: #B2426A;
$term6: #8D76AD;
$term7: #272022;
$term8: #0E0D0D;
$term9: #B52755;
$term10: #A97363;
$term11: #AF535C;
$term12: #A67F7B;
$term13: #B2426A;
$term14: #8D76AD;
$term15: #360D17;
