$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #AF633C;
$secondary_paletteKeyColor: #527E85;
$tertiary_paletteKeyColor: #3D8378;
$neutral_paletteKeyColor: #6F7975;
$neutral_variant_paletteKeyColor: #697B75;
$background: #F1FCF7;
$onBackground: #141D1B;
$surface: #F1FCF7;
$surfaceDim: #D2DCD8;
$surfaceBright: #F1FCF7;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #ECF6F1;
$surfaceContainer: #E6F0EB;
$surfaceContainerHigh: #E0EAE6;
$surfaceContainerHighest: #DBE5E0;
$onSurface: #141D1B;
$surfaceVariant: #D4E7E0;
$onSurfaceVariant: #3A4A45;
$inverseSurface: #29322F;
$inverseOnSurface: #E9F3EE;
$outline: #677873;
$outlineVariant: #B8CBC4;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #914B26;
$primary: #914B26;
$onPrimary: #FFFFFF;
$primaryContainer: #FFDBCC;
$onPrimaryContainer: #743511;
$inversePrimary: #FFB693;
$secondary: #39656C;
$onSecondary: #FFFFFF;
$secondaryContainer: #BAE8F0;
$onSecondaryContainer: #1F4D54;
$tertiary: #3A8075;
$onTertiary: #FFFFFF;
$tertiaryContainer: #3A8075;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #FFDBCC;
$primaryFixedDim: #FFB693;
$onPrimaryFixed: #351000;
$onPrimaryFixedVariant: #743511;
$secondaryFixed: #BDEAF2;
$secondaryFixedDim: #A1CED6;
$onSecondaryFixed: #001F24;
$onSecondaryFixedVariant: #1F4D54;
$tertiaryFixed: #A9F0E3;
$tertiaryFixedDim: #8ED4C7;
$onTertiaryFixed: #00201C;
$onTertiaryFixedVariant: #005047;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #787471;
$term1: #931813;
$term2: #7A5D00;
$term3: #8B3F15;
$term4: #82613E;
$term5: #912D3D;
$term6: #366D38;
$term7: #201A1C;
$term8: #0A0A0A;
$term9: #931813;
$term10: #7A5D00;
$term11: #8B3F15;
$term12: #82613E;
$term13: #912D3D;
$term14: #366D38;
$term15: #201A1C;
