$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #6B7B71;
$secondary_paletteKeyColor: #707972;
$tertiary_paletteKeyColor: #657C6E;
$neutral_paletteKeyColor: #777775;
$neutral_variant_paletteKeyColor: #777775;
$background: #121413;
$onBackground: #E3E2E0;
$surface: #121413;
$surfaceDim: #121413;
$surfaceBright: #383938;
$surfaceContainerLowest: #0D0E0D;
$surfaceContainerLow: #1B1C1B;
$surfaceContainer: #1F201F;
$surfaceContainerHigh: #292A29;
$surfaceContainerHighest: #343534;
$onSurface: #E3E2E0;
$surfaceVariant: #464745;
$onSurfaceVariant: #C7C6C4;
$inverseSurface: #E3E2E0;
$inverseOnSurface: #30312F;
$outline: #91918F;
$outlineVariant: #464745;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BACBBF;
$primary: #BACBBF;
$onPrimary: #25342B;
$primaryContainer: #3B4A41;
$onPrimaryContainer: #D6E7DA;
$inversePrimary: #536258;
$secondary: #C0C9C1;
$onSecondary: #2A322D;
$secondaryContainer: #404943;
$onSecondaryContainer: #DCE5DD;
$tertiary: #B4CCBC;
$onTertiary: #20352A;
$tertiaryContainer: #7F9688;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D6E7DA;
$primaryFixedDim: #BACBBF;
$onPrimaryFixed: #101E17;
$onPrimaryFixedVariant: #3B4A41;
$secondaryFixed: #DCE5DD;
$secondaryFixedDim: #C0C9C1;
$onSecondaryFixed: #151D19;
$onSecondaryFixedVariant: #404943;
$tertiaryFixed: #D0E8D8;
$tertiaryFixedDim: #B4CCBC;
$onTertiaryFixed: #0A1F15;
$onTertiaryFixedVariant: #364B3F;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #3A3939;
$term1: #C59D3E;
$term2: #B8F793;
$term3: #FFFFFF;
$term4: #8DCCBE;
$term5: #FFAD72;
$term6: #AFF2C1;
$term7: #F3F5DF;
$term8: #D2D2BF;
$term9: #FFD266;
$term10: #FFFFFF;
$term11: #FFFFFF;
$term12: #E0FFEE;
$term13: #FFF3EC;
$term14: #FFFFFF;
$term15: #FFFFFF;
