$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #D33F6A;
$secondary_paletteKeyColor: #B05E70;
$tertiary_paletteKeyColor: #A54200;
$neutral_paletteKeyColor: #867275;
$neutral_variant_paletteKeyColor: #8C7074;
$background: #1C1012;
$onBackground: #F5DDDF;
$surface: #1C1012;
$surfaceDim: #1C1012;
$surfaceBright: #453538;
$surfaceContainerLowest: #170B0D;
$surfaceContainerLow: #25181A;
$surfaceContainer: #291C1E;
$surfaceContainerHigh: #352629;
$surfaceContainerHighest: #403133;
$onSurface: #F5DDDF;
$surfaceVariant: #584145;
$onSurfaceVariant: #DFBEC3;
$inverseSurface: #F5DDDF;
$inverseOnSurface: #3B2D2F;
$outline: #A7898E;
$outlineVariant: #584145;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB1C0;
$primary: #FFB1C0;
$onPrimary: #660028;
$primaryContainer: #B52755;
$onPrimaryContainer: #FFD1D8;
$inversePrimary: #B12452;
$secondary: #FFB1C0;
$onSecondary: #59192B;
$secondaryContainer: #762F41;
$onSecondaryContainer: #F89AAD;
$tertiary: #FFB694;
$onTertiary: #571F00;
$tertiaryContainer: #E37032;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFD9DF;
$primaryFixedDim: #FFB1C0;
$onPrimaryFixed: #3F0016;
$onPrimaryFixedVariant: #90003C;
$secondaryFixed: #FFD9DF;
$secondaryFixedDim: #FFB1C0;
$onSecondaryFixed: #3D0317;
$onSecondaryFixedVariant: #762F41;
$tertiaryFixed: #FFDBCC;
$tertiaryFixedDim: #FFB694;
$onTertiaryFixed: #351000;
$onTertiaryFixedVariant: #7B2F00;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #261619;
$term1: #FF5075;
$term2: #FFBCB1;
$term3: #FFDEDC;
$term4: #B3A3D5;
$term5: #ED8FA6;
$term6: #FFBA92;
$term7: #EFD1CF;
$term8: #CBB4B3;
$term9: #FFA9B3;
$term10: #FFFBFF;
$term11: #FFFFFF;
$term12: #F9D7AC;
$term13: #FFCDD5;
$term14: #FFF9F8;
$term15: #FFDADE;
