$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #3F8464;
$secondary_paletteKeyColor: #657C6E;
$tertiary_paletteKeyColor: #567D8C;
$neutral_paletteKeyColor: #727873;
$neutral_variant_paletteKeyColor: #707972;
$background: #F5FBF4;
$onBackground: #171D19;
$surface: #F5FBF4;
$surfaceDim: #D6DBD5;
$surfaceBright: #F5FBF4;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F0F5EF;
$surfaceContainer: #EAEFE9;
$surfaceContainerHigh: #E4EAE3;
$surfaceContainerHighest: #DEE4DE;
$onSurface: #171D19;
$surfaceVariant: #DCE5DD;
$onSurfaceVariant: #404943;
$inverseSurface: #2C322E;
$inverseOnSurface: #EDF2EC;
$outline: #6E7770;
$outlineVariant: #C0C9C1;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #236A4C;
$primary: #236A4C;
$onPrimary: #FFFFFF;
$primaryContainer: #AAF2CB;
$onPrimaryContainer: #005236;
$inversePrimary: #8FD5B0;
$secondary: #4D6356;
$onSecondary: #FFFFFF;
$secondaryContainer: #CDE6D5;
$onSecondaryContainer: #364B3F;
$tertiary: #537A89;
$onTertiary: #FFFFFF;
$tertiaryContainer: #537A89;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #AAF2CB;
$primaryFixedDim: #8FD5B0;
$onPrimaryFixed: #002113;
$onPrimaryFixedVariant: #005236;
$secondaryFixed: #D0E8D8;
$secondaryFixedDim: #B4CCBC;
$onSecondaryFixed: #0A1F15;
$onSecondaryFixedVariant: #364B3F;
$tertiaryFixed: #C0E9FA;
$tertiaryFixedDim: #A5CDDE;
$onTertiaryFixed: #001F28;
$onTertiaryFixedVariant: #234C5A;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #757572;
$term1: #6C4000;
$term2: #17702F;
$term3: #5F5600;
$term4: #55711F;
$term5: #4047A0;
$term6: #006E63;
$term7: #1A1C1F;
$term8: #0A0A0A;
$term9: #6C4000;
$term10: #17702F;
$term11: #5F5600;
$term12: #55711F;
$term13: #4047A0;
$term14: #006E63;
$term15: #1A1C1F;
