$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #AF633C;
$secondary_paletteKeyColor: #527E85;
$tertiary_paletteKeyColor: #3D8378;
$neutral_paletteKeyColor: #6F7975;
$neutral_variant_paletteKeyColor: #697B75;
$background: #0C1513;
$onBackground: #DBE5E0;
$surface: #0C1513;
$surfaceDim: #0C1513;
$surfaceBright: #323B38;
$surfaceContainerLowest: #07100E;
$surfaceContainerLow: #141D1B;
$surfaceContainer: #18211F;
$surfaceContainerHigh: #232C29;
$surfaceContainerHighest: #2D3734;
$onSurface: #DBE5E0;
$surfaceVariant: #3A4A45;
$onSurfaceVariant: #B8CBC4;
$inverseSurface: #DBE5E0;
$inverseOnSurface: #29322F;
$outline: #83958F;
$outlineVariant: #3A4A45;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB693;
$primary: #FFB693;
$onPrimary: #561F00;
$primaryContainer: #743511;
$onPrimaryContainer: #FFDBCC;
$inversePrimary: #914B26;
$secondary: #A1CED6;
$onSecondary: #00363D;
$secondaryContainer: #1F4D54;
$onSecondaryContainer: #BDEAF2;
$tertiary: #8ED4C7;
$onTertiary: #003731;
$tertiaryContainer: #589D91;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDBCC;
$primaryFixedDim: #FFB693;
$onPrimaryFixed: #351000;
$onPrimaryFixedVariant: #743511;
$secondaryFixed: #BDEAF2;
$secondaryFixedDim: #A1CED6;
$onSecondaryFixed: #001F24;
$onSecondaryFixedVariant: #1F4D54;
$tertiaryFixed: #A9F0E3;
$tertiaryFixedDim: #8ED4C7;
$onTertiaryFixed: #00201C;
$onTertiaryFixedVariant: #005047;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #3A3938;
$term1: #FF7C54;
$term2: #FFE0B7;
$term3: #FFFFFF;
$term4: #A7CA97;
$term5: #FFA8A7;
$term6: #FBE285;
$term7: #FFF0E6;
$term8: #E2CCBE;
$term9: #FFCDBF;
$term10: #FFFFFF;
$term11: #FFFFFF;
$term12: #FAFACB;
$term13: #FFF2F0;
$term14: #FFFFFF;
$term15: #FFFFFF;
