$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #D33F6A;
$secondary_paletteKeyColor: #B05E70;
$tertiary_paletteKeyColor: #007038;
$neutral_paletteKeyColor: #867275;
$neutral_variant_paletteKeyColor: #8C7074;
$background: #FFF8F7;
$onBackground: #25181A;
$surface: #FFF8F7;
$surfaceDim: #ECD4D7;
$surfaceBright: #FFF8F7;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF0F1;
$surfaceContainer: #FFE9EB;
$surfaceContainerHigh: #FBE2E5;
$surfaceContainerHighest: #F5DDDF;
$onSurface: #25181A;
$surfaceVariant: #FCDADF;
$onSurfaceVariant: #584145;
$inverseSurface: #3B2D2F;
$inverseOnSurface: #FFECEE;
$outline: #896E72;
$outlineVariant: #DFBEC3;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #B12452;
$primary: #CF3C68;
$onPrimary: #FFFFFF;
$primaryContainer: #B52755;
$onPrimaryContainer: #FFD1D8;
$inversePrimary: #FFB1C0;
$secondary: #934658;
$onSecondary: #FFFFFF;
$secondaryContainer: #FFD9DF;
$onSecondaryContainer: #9A4C5E;
$tertiary: #26854A;
$onTertiary: #FFFFFF;
$tertiaryContainer: #26854A;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #FFD9DF;
$primaryFixedDim: #FFB1C0;
$onPrimaryFixed: #3F0016;
$onPrimaryFixedVariant: #90003C;
$secondaryFixed: #FFD9DF;
$secondaryFixedDim: #FFB1C0;
$onSecondaryFixed: #3D0317;
$onSecondaryFixedVariant: #762F41;
$tertiaryFixed: #99F7B0;
$tertiaryFixedDim: #7EDA96;
$onTertiaryFixed: #00210C;
$onTertiaryFixedVariant: #005228;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #F3E2E3;
$term1: #B52754;
$term2: #A97363;
$term3: #AF535C;
$term4: #A67F7B;
$term5: #B2426A;
$term6: #8D76AD;
$term7: #272022;
$term8: #0E0D0D;
$term9: #B52754;
$term10: #A97363;
$term11: #AF535C;
$term12: #A67F7B;
$term13: #B2426A;
$term14: #8D76AD;
$term15: #340E17;
