$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #777777;
$secondary_paletteKeyColor: #777777;
$tertiary_paletteKeyColor: #777777;
$neutral_paletteKeyColor: #777777;
$neutral_variant_paletteKeyColor: #777777;
$background: #F9F9F9;
$onBackground: #1B1B1B;
$surface: #F9F9F9;
$surfaceDim: #DADADA;
$surfaceBright: #F9F9F9;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F3F3F3;
$surfaceContainer: #EEEEEE;
$surfaceContainerHigh: #E8E8E8;
$surfaceContainerHighest: #E2E2E2;
$onSurface: #1B1B1B;
$surfaceVariant: #E2E2E2;
$onSurfaceVariant: #474747;
$inverseSurface: #303030;
$inverseOnSurface: #F1F1F1;
$outline: #747474;
$outlineVariant: #C6C6C6;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #5E5E5E;
$primary: #5F5F5F;
$onPrimary: #FFFFFF;
$primaryContainer: #D4D4D4;
$onPrimaryContainer: #000000;
$inversePrimary: #C6C6C6;
$secondary: #5E5E5E;
$onSecondary: #FFFFFF;
$secondaryContainer: #D4D4D4;
$onSecondaryContainer: #1B1B1B;
$tertiary: #3B3B3B;
$onTertiary: #E2E2E2;
$tertiaryContainer: #E2E2E2;
$onTertiaryContainer: #474747;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #5E5E5E;
$primaryFixedDim: #474747;
$onPrimaryFixed: #000000;
$onPrimaryFixedVariant: #E2E2E2;
$secondaryFixed: #C6C6C6;
$secondaryFixedDim: #ABABAB;
$onSecondaryFixed: #1B1B1B;
$onSecondaryFixedVariant: #3B3B3B;
$tertiaryFixed: #5E5E5E;
$tertiaryFixedDim: #474747;
$onTertiaryFixed: #000000;
$onTertiaryFixedVariant: #E2E2E2;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #747572;
$term1: #6325A9;
$term2: #006F55;
$term3: #5F5600;
$term4: #2E753E;
$term5: #4047A0;
$term6: #006C76;
$term7: #1B1C1F;
$term8: #0A0A0A;
$term9: #6325A9;
$term10: #006F55;
$term11: #5F5600;
$term12: #2E753E;
$term13: #4047A0;
$term14: #006C76;
$term15: #1B1C1F;
