$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #3F8464;
$secondary_paletteKeyColor: #657C6E;
$tertiary_paletteKeyColor: #567D8C;
$neutral_paletteKeyColor: #727873;
$neutral_variant_paletteKeyColor: #707972;
$background: #0F1511;
$onBackground: #DEE4DE;
$surface: #0F1511;
$surfaceDim: #0F1511;
$surfaceBright: #353B36;
$surfaceContainerLowest: #0A0F0C;
$surfaceContainerLow: #171D19;
$surfaceContainer: #1B211D;
$surfaceContainerHigh: #262B27;
$surfaceContainerHighest: #303632;
$onSurface: #DEE4DE;
$surfaceVariant: #404943;
$onSurfaceVariant: #C0C9C1;
$inverseSurface: #DEE4DE;
$inverseOnSurface: #2C322E;
$outline: #8A938C;
$outlineVariant: #404943;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #8FD5B0;
$primary: #8FD5B0;
$onPrimary: #003824;
$primaryContainer: #005236;
$onPrimaryContainer: #AAF2CB;
$inversePrimary: #236A4C;
$secondary: #B4CCBC;
$onSecondary: #20352A;
$secondaryContainer: #384E42;
$onSecondaryContainer: #D0E8D8;
$tertiary: #A5CDDE;
$onTertiary: #063543;
$tertiaryContainer: #6F96A6;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #AAF2CB;
$primaryFixedDim: #8FD5B0;
$onPrimaryFixed: #002113;
$onPrimaryFixedVariant: #005236;
$secondaryFixed: #D0E8D8;
$secondaryFixedDim: #B4CCBC;
$onSecondaryFixed: #0A1F15;
$onSecondaryFixedVariant: #364B3F;
$tertiaryFixed: #C0E9FA;
$tertiaryFixedDim: #A5CDDE;
$onTertiaryFixed: #001F28;
$onTertiaryFixedVariant: #234C5A;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #3A3939;
$term1: #C59D3E;
$term2: #B9F794;
$term3: #FFFFFF;
$term4: #8DCCBE;
$term5: #FFAD72;
$term6: #AFF2C1;
$term7: #F3F5DF;
$term8: #D2D2BF;
$term9: #FFD266;
$term10: #FFFFFF;
$term11: #FFFFFF;
$term12: #E0FFEE;
$term13: #FFF3EC;
$term14: #FFFFFF;
$term15: #FFFFFF;
