$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #00FEB0;
$secondary_paletteKeyColor: #537F74;
$tertiary_paletteKeyColor: #3A8280;
$neutral_paletteKeyColor: #6E7A72;
$neutral_variant_paletteKeyColor: #6B7B71;
$background: #F0FDF2;
$onBackground: #131E18;
$surface: #F0FDF2;
$surfaceDim: #D0DDD3;
$surfaceBright: #F0FDF2;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #EAF7EC;
$surfaceContainer: #E4F1E7;
$surfaceContainerHigh: #DEEBE1;
$surfaceContainerHighest: #D9E6DC;
$onSurface: #131E18;
$surfaceVariant: #D6E7DA;
$onSurfaceVariant: #3B4A41;
$inverseSurface: #28332C;
$inverseOnSurface: #E7F4EA;
$outline: #69786E;
$outlineVariant: #BACBBF;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #006C49;
$primary: #006C49;
$onPrimary: #FFFFFF;
$primaryContainer: #48FFB7;
$onPrimaryContainer: #005236;
$inversePrimary: #00E29C;
$secondary: #3B665C;
$onSecondary: #FFFFFF;
$secondaryContainer: #BAE9DC;
$onSecondaryContainer: #224E44;
$tertiary: #377F7D;
$onTertiary: #FFFFFF;
$tertiaryContainer: #377F7D;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #48FFB7;
$primaryFixedDim: #00E29C;
$onPrimaryFixed: #002113;
$onPrimaryFixedVariant: #005236;
$secondaryFixed: #BDECDE;
$secondaryFixedDim: #A2D0C3;
$onSecondaryFixed: #00201A;
$onSecondaryFixedVariant: #224E44;
$tertiaryFixed: #A8EFEC;
$tertiaryFixedDim: #8CD3D0;
$onTertiaryFixed: #00201F;
$onTertiaryFixedVariant: #00504E;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #757572;
$term1: #6C4000;
$term2: #19702F;
$term3: #5F5600;
$term4: #55711E;
$term5: #4047A0;
$term6: #006E63;
$term7: #1A1C1F;
$term8: #0A0A0A;
$term9: #6C4000;
$term10: #19702F;
$term11: #5F5600;
$term12: #55711E;
$term13: #4047A0;
$term14: #006E63;
$term15: #1A1C1F;
