$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FD006F;
$secondary_paletteKeyColor: #9E6A64;
$tertiary_paletteKeyColor: #A7674B;
$neutral_paletteKeyColor: #877275;
$neutral_variant_paletteKeyColor: #8A7175;
$background: #1D1012;
$onBackground: #F7DCDF;
$surface: #1D1012;
$surfaceDim: #1D1012;
$surfaceBright: #463538;
$surfaceContainerLowest: #170B0D;
$surfaceContainerLow: #26181A;
$surfaceContainer: #2A1C1E;
$surfaceContainerHigh: #362629;
$surfaceContainerHighest: #413033;
$onSurface: #F7DCDF;
$surfaceVariant: #574145;
$onSurfaceVariant: #DDBFC3;
$inverseSurface: #F7DCDF;
$inverseOnSurface: #3C2C2F;
$outline: #A58A8E;
$outlineVariant: #574145;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB1C0;
$primary: #FFB1C0;
$onPrimary: #660028;
$primaryContainer: #90003C;
$onPrimaryContainer: #FFD9DF;
$inversePrimary: #BC0050;
$secondary: #F5B7B0;
$onSecondary: #4C2521;
$secondaryContainer: #673B36;
$onSecondaryContainer: #FFDAD6;
$tertiary: #FFB597;
$onTertiary: #52230C;
$tertiaryContainer: #C58063;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFD9DF;
$primaryFixedDim: #FFB1C0;
$onPrimaryFixed: #3F0016;
$onPrimaryFixedVariant: #90003C;
$secondaryFixed: #FFDAD6;
$secondaryFixedDim: #F5B7B0;
$onSecondaryFixed: #33110E;
$onSecondaryFixedVariant: #673B36;
$tertiaryFixed: #FFDBCD;
$tertiaryFixedDim: #FFB597;
$onTertiaryFixed: #360F00;
$onTertiaryFixedVariant: #6D3820;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #271619;
$term1: #FF5076;
$term2: #FFBCB1;
$term3: #FFDEDC;
$term4: #B3A3D5;
$term5: #EC8FA7;
$term6: #FFBA92;
$term7: #EFD1CF;
$term8: #CBB4B3;
$term9: #FFA8B3;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #F9D7AC;
$term13: #FFCDD6;
$term14: #FFF9F8;
$term15: #FFD9DE;
