$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #767C0B;
$secondary_paletteKeyColor: #777B31;
$tertiary_paletteKeyColor: #3F8464;
$neutral_paletteKeyColor: #6E7A72;
$neutral_variant_paletteKeyColor: #657C6E;
$background: #F0FDF2;
$onBackground: #131E18;
$surface: #F0FDF2;
$surfaceDim: #D0DDD3;
$surfaceBright: #F0FDF2;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #EAF7EC;
$surfaceContainer: #E4F1E7;
$surfaceContainerHigh: #DEEBE1;
$surfaceContainerHighest: #D9E6DC;
$onSurface: #131E18;
$surfaceVariant: #D0E8D8;
$onSurfaceVariant: #364B3F;
$inverseSurface: #28332C;
$inverseOnSurface: #E7F4EA;
$outline: #637A6C;
$outlineVariant: #B4CCBC;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #5E6300;
$primary: #5E6300;
$onPrimary: #FFFFFF;
$primaryContainer: #E3EA73;
$onPrimaryContainer: #464A00;
$inversePrimary: #C7CD5B;
$secondary: #5E621B;
$onSecondary: #FFFFFF;
$secondaryContainer: #E1E58F;
$onSecondaryContainer: #464A02;
$tertiary: #3C8161;
$onTertiary: #FFFFFF;
$tertiaryContainer: #3C8161;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #E3EA73;
$primaryFixedDim: #C7CD5B;
$onPrimaryFixed: #1B1D00;
$onPrimaryFixedVariant: #464A00;
$secondaryFixed: #E4E892;
$secondaryFixedDim: #C7CC79;
$onSecondaryFixed: #1B1D00;
$onSecondaryFixedVariant: #464A02;
$tertiaryFixed: #AAF2CB;
$tertiaryFixedDim: #8FD5B0;
$onTertiaryFixed: #002113;
$onTertiaryFixedVariant: #005236;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #767470;
$term1: #703D00;
$term2: #536900;
$term3: #724E00;
$term4: #746900;
$term5: #8E3500;
$term6: #1C6F48;
$term7: #211A1B;
$term8: #0A0A0A;
$term9: #703D00;
$term10: #536900;
$term11: #724E00;
$term12: #746900;
$term13: #8E3500;
$term14: #1C6F48;
$term15: #211A1B;
