$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #069F6D;
$secondary_paletteKeyColor: #558069;
$tertiary_paletteKeyColor: #E77372;
$neutral_paletteKeyColor: #727974;
$neutral_variant_paletteKeyColor: #6D7A71;
$background: #F5FBF4;
$onBackground: #171D19;
$surface: #F5FBF4;
$surfaceDim: #D5DCD5;
$surfaceBright: #F5FBF4;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #EFF5EE;
$surfaceContainer: #E9F0E9;
$surfaceContainerHigh: #E3EAE3;
$surfaceContainerHighest: #DEE4DE;
$onSurface: #171D19;
$surfaceVariant: #D8E6DB;
$onSurfaceVariant: #3D4A42;
$inverseSurface: #2B322E;
$inverseOnSurface: #ECF2EC;
$outline: #6B786F;
$outlineVariant: #BCCAC0;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #006C49;
$primary: #006C49;
$onPrimary: #FFFFFF;
$primaryContainer: #22AA77;
$onPrimaryContainer: #003622;
$inversePrimary: #61DCA5;
$secondary: #3C6751;
$onSecondary: #FFFFFF;
$secondaryContainer: #BEEDD2;
$onSecondaryContainer: #426D57;
$tertiary: #BD5353;
$onTertiary: #FFFFFF;
$tertiaryContainer: #BD5353;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #7FF9C0;
$primaryFixedDim: #61DCA5;
$onPrimaryFixed: #002113;
$onPrimaryFixedVariant: #005236;
$secondaryFixed: #BEEDD2;
$secondaryFixedDim: #A3D1B6;
$onSecondaryFixed: #002113;
$onSecondaryFixedVariant: #244F3A;
$tertiaryFixed: #FFDAD8;
$tertiaryFixedDim: #FFB3B0;
$onTertiaryFixed: #410007;
$onTertiaryFixedVariant: #812629;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #757572;
$term1: #6C4000;
$term2: #19702F;
$term3: #5F5600;
$term4: #55711E;
$term5: #4047A0;
$term6: #006E63;
$term7: #1A1C1F;
$term8: #0A0A0A;
$term9: #6C4000;
$term10: #19702F;
$term11: #5F5600;
$term12: #55711E;
$term13: #4047A0;
$term14: #006E63;
$term15: #1A1C1F;
