$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #069F6D;
$secondary_paletteKeyColor: #558069;
$tertiary_paletteKeyColor: #858EEF;
$neutral_paletteKeyColor: #727974;
$neutral_variant_paletteKeyColor: #6D7A71;
$background: #0F1511;
$onBackground: #DEE4DE;
$surface: #0F1511;
$surfaceDim: #0F1511;
$surfaceBright: #343B36;
$surfaceContainerLowest: #09100C;
$surfaceContainerLow: #171D19;
$surfaceContainer: #1B211D;
$surfaceContainerHigh: #252B27;
$surfaceContainerHighest: #303632;
$onSurface: #DEE4DE;
$surfaceVariant: #3D4A42;
$onSurfaceVariant: #BCCAC0;
$inverseSurface: #DEE4DE;
$inverseOnSurface: #2B322E;
$outline: #87948B;
$outlineVariant: #3D4A42;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #61DCA5;
$primary: #61DCA5;
$onPrimary: #003824;
$primaryContainer: #22AA77;
$onPrimaryContainer: #003622;
$inversePrimary: #006C49;
$secondary: #A3D1B6;
$onSecondary: #093825;
$secondaryContainer: #244F3A;
$onSecondaryContainer: #92BFA5;
$tertiary: #BEC2FF;
$onTertiary: #1A2282;
$tertiaryContainer: #7F88E9;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #7FF9C0;
$primaryFixedDim: #61DCA5;
$onPrimaryFixed: #002113;
$onPrimaryFixedVariant: #005236;
$secondaryFixed: #BEEDD2;
$secondaryFixedDim: #A3D1B6;
$onSecondaryFixed: #002113;
$onSecondaryFixedVariant: #244F3A;
$tertiaryFixed: #E0E0FF;
$tertiaryFixedDim: #BEC2FF;
$onTertiaryFixed: #000569;
$onTertiaryFixedVariant: #333C99;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #3A3939;
$term1: #C59D3E;
$term2: #B9F792;
$term3: #FFFFFF;
$term4: #8DCCBE;
$term5: #FFAD72;
$term6: #AFF2C1;
$term7: #F3F5DF;
$term8: #D2D2BF;
$term9: #FFD266;
$term10: #FFFFFF;
$term11: #FFFFFF;
$term12: #E0FFEE;
$term13: #FFF3EC;
$term14: #FFFFFF;
$term15: #FFFFFF;
