$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #3E7CAC;
$secondary_paletteKeyColor: #9B6D50;
$tertiary_paletteKeyColor: #6B7E44;
$neutral_paletteKeyColor: #857371;
$neutral_variant_paletteKeyColor: #8C716F;
$background: #FFF8F7;
$onBackground: #251918;
$surface: #FFF8F7;
$surfaceDim: #ECD5D3;
$surfaceBright: #FFF8F7;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF0EF;
$surfaceContainer: #FFE9E7;
$surfaceContainerHigh: #FAE3E1;
$surfaceContainerHighest: #F4DDDB;
$onSurface: #251918;
$surfaceVariant: #FCDBD8;
$onSurfaceVariant: #584140;
$inverseSurface: #3B2D2C;
$inverseOnSurface: #FFEDEB;
$outline: #896E6C;
$outlineVariant: #DFBFBD;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #1E6392;
$primary: #1E6392;
$onPrimary: #FFFFFF;
$primaryContainer: #CDE5FF;
$onPrimaryContainer: #004B74;
$inversePrimary: #94CCFF;
$secondary: #7F5539;
$onSecondary: #FFFFFF;
$secondaryContainer: #FEC6A3;
$onSecondaryContainer: #643E24;
$tertiary: #697B42;
$onTertiary: #FFFFFF;
$tertiaryContainer: #697B42;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #CDE5FF;
$primaryFixedDim: #94CCFF;
$onPrimaryFixed: #001D32;
$onPrimaryFixedVariant: #004B74;
$secondaryFixed: #FFDBC7;
$secondaryFixedDim: #F2BB99;
$onSecondaryFixed: #301401;
$onSecondaryFixedVariant: #643E24;
$tertiaryFixed: #D6EBA6;
$tertiaryFixedDim: #BACE8C;
$onTertiaryFixed: #141F00;
$onTertiaryFixedVariant: #3C4C18;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #F3E2E1;
$term1: #2A5AC2;
$term2: #008BAC;
$term3: #7E60B0;
$term4: #009993;
$term5: #3669BB;
$term6: #4687AD;
$term7: #212225;
$term8: #0D0D0D;
$term9: #2A5AC2;
$term10: #008BAC;
$term11: #7E60B0;
$term12: #009993;
$term13: #3669BB;
$term14: #4687AD;
$term15: #331110;
