$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #6B7B71;
$secondary_paletteKeyColor: #707972;
$tertiary_paletteKeyColor: #657C6E;
$neutral_paletteKeyColor: #777775;
$neutral_variant_paletteKeyColor: #777775;
$background: #FBF9F7;
$onBackground: #1B1C1B;
$surface: #FBF9F7;
$surfaceDim: #DBDAD8;
$surfaceBright: #FBF9F7;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F5F3F1;
$surfaceContainer: #EFEEEB;
$surfaceContainerHigh: #E9E8E6;
$surfaceContainerHighest: #E3E2E0;
$onSurface: #1B1C1B;
$surfaceVariant: #E3E2E0;
$onSurfaceVariant: #464745;
$inverseSurface: #30312F;
$inverseOnSurface: #F2F0EE;
$outline: #747573;
$outlineVariant: #C7C6C4;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #536258;
$primary: #536258;
$onPrimary: #FFFFFF;
$primaryContainer: #D6E7DA;
$onPrimaryContainer: #3B4A41;
$inversePrimary: #BACBBF;
$secondary: #58605A;
$onSecondary: #FFFFFF;
$secondaryContainer: #D9E2DA;
$onSecondaryContainer: #404943;
$tertiary: #637A6C;
$onTertiary: #FFFFFF;
$tertiaryContainer: #637A6C;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #D6E7DA;
$primaryFixedDim: #BACBBF;
$onPrimaryFixed: #101E17;
$onPrimaryFixedVariant: #3B4A41;
$secondaryFixed: #DCE5DD;
$secondaryFixedDim: #C0C9C1;
$onSecondaryFixed: #151D19;
$onSecondaryFixedVariant: #404943;
$tertiaryFixed: #D0E8D8;
$tertiaryFixedDim: #B4CCBC;
$onTertiaryFixed: #0A1F15;
$onTertiaryFixedVariant: #364B3F;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #757572;
$term1: #6C4000;
$term2: #167030;
$term3: #5F5600;
$term4: #54711F;
$term5: #4047A0;
$term6: #006E64;
$term7: #1A1C1F;
$term8: #0A0A0A;
$term9: #6C4000;
$term10: #167030;
$term11: #5F5600;
$term12: #54711F;
$term13: #4047A0;
$term14: #006E64;
$term15: #1A1C1F;
