$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #8A7175;
$secondary_paletteKeyColor: #847375;
$tertiary_paletteKeyColor: #906E74;
$neutral_paletteKeyColor: #7B7676;
$neutral_variant_paletteKeyColor: #7B7676;
$background: #FFF8F7;
$onBackground: #1E1B1B;
$surface: #FFF8F7;
$surfaceDim: #E0D8D8;
$surfaceBright: #FFF8F7;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FAF2F2;
$surfaceContainer: #F4ECEC;
$surfaceContainerHigh: #EEE6E6;
$surfaceContainerHighest: #E8E1E1;
$onSurface: #1E1B1B;
$surfaceVariant: #E8E1E1;
$onSurfaceVariant: #4A4646;
$inverseSurface: #332F30;
$inverseOnSurface: #F7EFEF;
$outline: #797373;
$outlineVariant: #CCC5C5;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #70585C;
$primary: #70585C;
$onPrimary: #FFFFFF;
$primaryContainer: #FADBDF;
$onPrimaryContainer: #574145;
$inversePrimary: #DDBFC3;
$secondary: #6A5A5D;
$onSecondary: #FFFFFF;
$secondaryContainer: #F3DDE0;
$onSecondaryContainer: #524345;
$tertiary: #8D6C71;
$onTertiary: #FFFFFF;
$tertiaryContainer: #8D6C71;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #FADBDF;
$primaryFixedDim: #DDBFC3;
$onPrimaryFixed: #28171A;
$onPrimaryFixedVariant: #574145;
$secondaryFixed: #F3DDE0;
$secondaryFixedDim: #D6C2C4;
$onSecondaryFixed: #24191A;
$onSecondaryFixedVariant: #524345;
$tertiaryFixed: #FFD9DF;
$tertiaryFixedDim: #E4BDC3;
$onTertiaryFixed: #2B151A;
$onTertiaryFixedVariant: #5C3F44;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #EDE4E4;
$term1: #B52755;
$term2: #A97363;
$term3: #AF535D;
$term4: #A67F7C;
$term5: #B2416B;
$term6: #8D76AD;
$term7: #272022;
$term8: #0E0D0D;
$term9: #B52755;
$term10: #A97363;
$term11: #AF535D;
$term12: #A67F7C;
$term13: #B2416B;
$term14: #8D76AD;
$term15: #221A1A;
