$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #9562B3;
$secondary_paletteKeyColor: #8D69A1;
$tertiary_paletteKeyColor: #AA6171;
$neutral_paletteKeyColor: #877275;
$neutral_variant_paletteKeyColor: #906E74;
$background: #FFF8F7;
$onBackground: #26181A;
$surface: #FFF8F7;
$surfaceDim: #EED4D7;
$surfaceBright: #FFF8F7;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF0F1;
$surfaceContainer: #FFE9EB;
$surfaceContainerHigh: #FDE2E5;
$surfaceContainerHighest: #F7DCDF;
$onSurface: #26181A;
$surfaceVariant: #FFD9DF;
$onSurfaceVariant: #5C3F44;
$inverseSurface: #3C2C2F;
$inverseOnSurface: #FFECEE;
$outline: #8D6C71;
$outlineVariant: #E4BDC3;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #7B4998;
$primary: #7B4998;
$onPrimary: #FFFFFF;
$primaryContainer: #F5D9FF;
$onPrimaryContainer: #61317E;
$inversePrimary: #E5B4FF;
$secondary: #735187;
$onSecondary: #FFFFFF;
$secondaryContainer: #EAC0FE;
$onSecondaryContainer: #5A396D;
$tertiary: #A85F6E;
$onTertiary: #FFFFFF;
$tertiaryContainer: #A85F6E;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #F5D9FF;
$primaryFixedDim: #E5B4FF;
$onPrimaryFixed: #30004A;
$onPrimaryFixedVariant: #61317E;
$secondaryFixed: #F5D9FF;
$secondaryFixedDim: #E1B8F5;
$onSecondaryFixed: #2C0B3F;
$onSecondaryFixedVariant: #5A396D;
$tertiaryFixed: #FFD9DF;
$tertiaryFixedDim: #FFB1C0;
$onTertiaryFixed: #3A0717;
$onTertiaryFixedVariant: #713341;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #F3E2E3;
$term1: #9A2DB0;
$term2: #A97363;
$term3: #9B5795;
$term4: #A67D8F;
$term5: #9647B4;
$term6: #8379AD;
$term7: #242125;
$term8: #0D0D0D;
$term9: #9A2DB0;
$term10: #A97363;
$term11: #9B5795;
$term12: #A67D8F;
$term13: #9647B4;
$term14: #8379AD;
$term15: #360D17;
