$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #AA6171;
$secondary_paletteKeyColor: #906E74;
$tertiary_paletteKeyColor: #957048;
$neutral_paletteKeyColor: #817475;
$neutral_variant_paletteKeyColor: #847375;
$background: #FFF8F7;
$onBackground: #22191B;
$surface: #FFF8F7;
$surfaceDim: #E7D6D8;
$surfaceBright: #FFF8F7;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF0F1;
$surfaceContainer: #FBEAEB;
$surfaceContainerHigh: #F5E4E6;
$surfaceContainerHighest: #EFDEE0;
$onSurface: #22191B;
$surfaceVariant: #F3DDE0;
$onSurfaceVariant: #524345;
$inverseSurface: #382E2F;
$inverseOnSurface: #FEEDEE;
$outline: #817073;
$outlineVariant: #D6C2C4;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #8E4959;
$primary: #8E4959;
$onPrimary: #FFFFFF;
$primaryContainer: #FFD9DF;
$onPrimaryContainer: #713341;
$inversePrimary: #FFB1C0;
$secondary: #75565C;
$onSecondary: #FFFFFF;
$secondaryContainer: #FFD5DB;
$onSecondaryContainer: #5C3F44;
$tertiary: #926D46;
$onTertiary: #FFFFFF;
$tertiaryContainer: #926D46;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #FFD9DF;
$primaryFixedDim: #FFB1C0;
$onPrimaryFixed: #3A0717;
$onPrimaryFixedVariant: #713341;
$secondaryFixed: #FFD9DF;
$secondaryFixedDim: #E4BDC3;
$onSecondaryFixed: #2B151A;
$onSecondaryFixedVariant: #5C3F44;
$tertiaryFixed: #FFDCBC;
$tertiaryFixedDim: #ECBE90;
$onTertiaryFixed: #2C1700;
$onTertiaryFixedVariant: #5F401D;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #F3E2E3;
$term1: #B52755;
$term2: #A97363;
$term3: #AF535D;
$term4: #A67F7C;
$term5: #B2416B;
$term6: #8D76AD;
$term7: #272022;
$term8: #0E0D0D;
$term9: #B52755;
$term10: #A97363;
$term11: #AF535D;
$term12: #A67F7C;
$term13: #B2416B;
$term14: #8D76AD;
$term15: #2D131B;
