$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #3E7CAC;
$secondary_paletteKeyColor: #9B6D50;
$tertiary_paletteKeyColor: #6B7E44;
$neutral_paletteKeyColor: #857371;
$neutral_variant_paletteKeyColor: #8C716F;
$background: #1C1010;
$onBackground: #F4DDDB;
$surface: #1C1010;
$surfaceDim: #1C1010;
$surfaceBright: #443635;
$surfaceContainerLowest: #160B0B;
$surfaceContainerLow: #251918;
$surfaceContainer: #291C1C;
$surfaceContainerHigh: #342726;
$surfaceContainerHighest: #403130;
$onSurface: #F4DDDB;
$surfaceVariant: #584140;
$onSurfaceVariant: #DFBFBD;
$inverseSurface: #F4DDDB;
$inverseOnSurface: #3B2D2C;
$outline: #A78A88;
$outlineVariant: #584140;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #94CCFF;
$primary: #94CCFF;
$onPrimary: #003352;
$primaryContainer: #004B74;
$onPrimaryContainer: #CDE5FF;
$inversePrimary: #1E6392;
$secondary: #F2BB99;
$onSecondary: #4A2810;
$secondaryContainer: #643E24;
$onSecondaryContainer: #FFDBC7;
$tertiary: #BACE8C;
$onTertiary: #263503;
$tertiaryContainer: #85985B;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #CDE5FF;
$primaryFixedDim: #94CCFF;
$onPrimaryFixed: #001D32;
$onPrimaryFixedVariant: #004B74;
$secondaryFixed: #FFDBC7;
$secondaryFixedDim: #F2BB99;
$onSecondaryFixed: #301401;
$onSecondaryFixedVariant: #643E24;
$tertiaryFixed: #D6EBA6;
$tertiaryFixedDim: #BACE8C;
$onTertiaryFixed: #141F00;
$onTertiaryFixedVariant: #3C4C18;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #261716;
$term1: #8383FF;
$term2: #64DCF0;
$term3: #75FCDD;
$term4: #82AFCE;
$term5: #8DAAEE;
$term6: #8AD3F2;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #BCB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C4E1F2;
$term13: #CDD9FF;
$term14: #F6FBFF;
$term15: #FFDAD7;
