$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #B9586F;
$secondary_paletteKeyColor: #906E74;
$tertiary_paletteKeyColor: #957048;
$neutral_paletteKeyColor: #777777;
$neutral_variant_paletteKeyColor: #777777;
$background: #F9F9F9;
$onBackground: #1B1B1B;
$surface: #F9F9F9;
$surfaceDim: #DADADA;
$surfaceBright: #F9F9F9;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F3F3F3;
$surfaceContainer: #EEEEEE;
$surfaceContainerHigh: #E8E8E8;
$surfaceContainerHighest: #E2E2E2;
$onSurface: #1B1B1B;
$surfaceVariant: #E2E2E2;
$onSurfaceVariant: #474747;
$inverseSurface: #303030;
$inverseOnSurface: #F1F1F1;
$outline: #747474;
$outlineVariant: #C6C6C6;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #9A4057;
$primary: #9A4057;
$onPrimary: #FFFFFF;
$primaryContainer: #FFD9DF;
$onPrimaryContainer: #7C2940;
$inversePrimary: #FFB1C0;
$secondary: #75565C;
$onSecondary: #FFFFFF;
$secondaryContainer: #FFD5DB;
$onSecondaryContainer: #5C3F44;
$tertiary: #926D46;
$onTertiary: #FFFFFF;
$tertiaryContainer: #926D46;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #FFD9DF;
$primaryFixedDim: #FFB1C0;
$onPrimaryFixed: #3F0016;
$onPrimaryFixedVariant: #7C2940;
$secondaryFixed: #FFD9DF;
$secondaryFixedDim: #E4BDC3;
$onSecondaryFixed: #2B151A;
$onSecondaryFixedVariant: #5C3F44;
$tertiaryFixed: #FFDCBC;
$tertiaryFixedDim: #ECBE90;
$onTertiaryFixed: #2C1700;
$onTertiaryFixedVariant: #5F401D;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #E4E6E6;
$term1: #B52755;
$term2: #A97363;
$term3: #AF535C;
$term4: #A67F7C;
$term5: #B2426A;
$term6: #8D76AD;
$term7: #272022;
$term8: #0E0D0D;
$term9: #B52755;
$term10: #A97363;
$term11: #AF535C;
$term12: #A67F7C;
$term13: #B2426A;
$term14: #8D76AD;
$term15: #1A1B1C;
