$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #078B5F;
$secondary_paletteKeyColor: #657C6E;
$tertiary_paletteKeyColor: #567D8C;
$neutral_paletteKeyColor: #777777;
$neutral_variant_paletteKeyColor: #777777;
$background: #F9F9F9;
$onBackground: #1B1B1B;
$surface: #F9F9F9;
$surfaceDim: #DADADA;
$surfaceBright: #F9F9F9;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F3F3F3;
$surfaceContainer: #EEEEEE;
$surfaceContainerHigh: #E8E8E8;
$surfaceContainerHighest: #E2E2E2;
$onSurface: #1B1B1B;
$surfaceVariant: #E2E2E2;
$onSurfaceVariant: #474747;
$inverseSurface: #303030;
$inverseOnSurface: #F1F1F1;
$outline: #747474;
$outlineVariant: #C6C6C6;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #006C49;
$primary: #006C49;
$onPrimary: #FFFFFF;
$primaryContainer: #8CF7C3;
$onPrimaryContainer: #005236;
$inversePrimary: #6FDBA8;
$secondary: #4D6356;
$onSecondary: #FFFFFF;
$secondaryContainer: #CDE6D5;
$onSecondaryContainer: #364B3F;
$tertiary: #537A89;
$onTertiary: #FFFFFF;
$tertiaryContainer: #537A89;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #8CF7C3;
$primaryFixedDim: #6FDBA8;
$onPrimaryFixed: #002113;
$onPrimaryFixedVariant: #005236;
$secondaryFixed: #D0E8D8;
$secondaryFixedDim: #B4CCBC;
$onSecondaryFixed: #0A1F15;
$onSecondaryFixedVariant: #364B3F;
$tertiaryFixed: #C0E9FA;
$tertiaryFixedDim: #A5CDDE;
$onTertiaryFixed: #001F28;
$onTertiaryFixedVariant: #234C5A;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #757572;
$term1: #6C4000;
$term2: #19702F;
$term3: #5F5600;
$term4: #55711F;
$term5: #4047A0;
$term6: #006E63;
$term7: #1A1C1F;
$term8: #0A0A0A;
$term9: #6C4000;
$term10: #19702F;
$term11: #5F5600;
$term12: #55711F;
$term13: #4047A0;
$term14: #006E63;
$term15: #1A1C1F;
