$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #aa616f;
$secondary_paletteKeyColor: #906e75;
$tertiary_paletteKeyColor: #954857;
$neutral_paletteKeyColor: #817475;
$neutral_variant_paletteKeyColor: #847375;
$background: #191113;
$onBackground: #EFDEE0;
$surface: #191113;
$surfaceDim: #191113;
$surfaceBright: #413738;
$surfaceContainerLowest: #140C0D;
$surfaceContainerLow: #22191B;
$surfaceContainer: #261D1F;
$surfaceContainerHigh: #312829;
$surfaceContainerHighest: #3C3234;
$onSurface: #EFDEE0;
$surfaceVariant: #524345;
$onSurfaceVariant: #D6C2C4;
$inverseSurface: #EFDEE0;
$inverseOnSurface: #382E2F;
$outline: #9F8C8F;
$outlineVariant: #524345;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB1C0;
$primary: #ffb1c0;
$onPrimary: #551D2B;
$primaryContainer: #71333f;
$onPrimaryContainer: #FFD9DF;
$inversePrimary: #8e4956;
$secondary: #e4bdc4;
$onSecondary: #43292E;
$secondaryContainer: #5c3f45;
$onSecondaryContainer: #FFD9DF;
$tertiary: #ec90a2;
$onTertiary: #462A08;
$tertiaryContainer: #b15f6f;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #ffd9e0;
$primaryFixedDim: #ffb1c0;
$onPrimaryFixed: #3A0717;
$onPrimaryFixedVariant: #713341;
$secondaryFixed: #ffd9e0;
$secondaryFixedDim: #e4bdc4;
$onSecondaryFixed: #2B151A;
$onSecondaryFixedVariant: #5C3F44;
$tertiaryFixed: #ffbcc9;
$tertiaryFixedDim: #ec90a2;
$onTertiaryFixed: #2C1700;
$onTertiaryFixedVariant: #5F401D;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #22181A;
$term1: #FF5078;
$term2: #FFBCB1;
$term3: #FFDEDC;
$term4: #B3A3D5;
$term5: #EC8FA7;
$term6: #FFBA92;
$term7: #EFD1CF;
$term8: #CBB4B3;
$term9: #FFA8B3;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #F9D7AC;
$term13: #FFCDD6;
$term14: #FFF9F8;
$term15: #FFD9DF;
