$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #bf6679;
$secondary_paletteKeyColor: #8a5a63;
$tertiary_paletteKeyColor: #906434;
$neutral_paletteKeyColor: #817475;
$neutral_variant_paletteKeyColor: #847375;
$background: #191113;
$onBackground: #faf0f1;
$surface: #191113;
$surfaceDim: #191113;
$surfaceBright: #413738;
$surfaceContainerLowest: #140C0D;
$surfaceContainerLow: #22191B;
$surfaceContainer: #261D1F;
$surfaceContainerHigh: #312829;
$surfaceContainerHighest: #3C3234;
$onSurface: #faf0f1;
$surfaceVariant: #524345;
$onSurfaceVariant: #f8f2f2;
$inverseSurface: #EFDEE0;
$inverseOnSurface: #382E2F;
$outline: #9F8C8F;
$outlineVariant: #524345;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB1C0;
$primary: #ffcbd5;
$onPrimary: #150509;
$primaryContainer: #682232;
$onPrimaryContainer: #ffebee;
$inversePrimary: #883649;
$secondary: #f0cbd0;
$onSecondary: #11080a;
$secondaryContainer: #532f35;
$onSecondaryContainer: #ffebee;
$tertiary: #facb9c;
$onTertiary: #1a0e00;
$tertiaryContainer: #c69664;
$onTertiaryContainer: #0d0c0c;
$error: #FFB4AB;
$onError: #1a0001;
$errorContainer: #93000A;
$onErrorContainer: #ffedeb;
$primaryFixed: #fff3f4;
$primaryFixedDim: #ffcbd5;
$onPrimaryFixed: #190008;
$onPrimaryFixedVariant: #130609;
$secondaryFixed: #fff3f4;
$secondaryFixedDim: #f0cbd0;
$onSecondaryFixed: #13070a;
$onSecondaryFixedVariant: #10090a;
$tertiaryFixed: #ffe9d6;
$tertiaryFixedDim: #facb9c;
$onTertiaryFixed: #1a0d00;
$onTertiaryFixedVariant: #160d04;
$success: #B5CCBA;
$onSuccess: #09110b;
$successContainer: #374B3E;
$onSuccessContainer: #f0faf2;
$term0: #22181A;
$term1: #FF5078;
$term2: #FFBCB1;
$term3: #FFDEDC;
$term4: #B3A3D5;
$term5: #EC8FA7;
$term6: #FFBA92;
$term7: #EFD1CF;
$term8: #CBB4B3;
$term9: #FFA8B3;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #F9D7AC;
$term13: #FFCDD6;
$term14: #FFF9F8;
$term15: #FFD9DF;
