$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #585b70;
$secondary_paletteKeyColor: #615870;
$tertiary_paletteKeyColor: #586770;
$neutral_paletteKeyColor: #585b70;
$neutral_variant_paletteKeyColor: #585b70;
$background: #11111b;
$onBackground: #f5c2e7;
$surface: #11111b;
$surfaceDim: #11111b;
$surfaceBright: #313244;
$surfaceContainerLowest: #11111b;
$surfaceContainerLow: #181825;
$surfaceContainer: #181825;
$surfaceContainerHigh: #1e1e2e;
$surfaceContainerHighest: #313244;
$onSurface: #f5c2e7;
$surfaceVariant: #45475a;
$onSurfaceVariant: #bac2de;
$inverseSurface: #f5c2e7;
$inverseOnSurface: #313244;
$outline: #a6adc8;
$outlineVariant: #45475a;
$shadow: #11111b;
$scrim: #11111b;
$surfaceTint: #eba0ac;
$primary: #eba0ac;
$onPrimary: #313244;
$primaryContainer: #45475a;
$onPrimaryContainer: #f5c2e7;
$inversePrimary: #585b70;
$secondary: #f5c2ce;
$onSecondary: #313244;
$secondaryContainer: #4e455a;
$onSecondaryContainer: #f5c2e7;
$tertiary: #fa8794;
$onTertiary: #1e1e2e;
$tertiaryContainer: #f38bdc;
$onTertiaryContainer: #11111b;
$error: #fab387;
$onError: #11111b;
$errorContainer: #1e1e2e;
$onErrorContainer: #f5c2e7;
$primaryFixed: #f5c2e7;
$primaryFixedDim: #eba0ac;
$onPrimaryFixed: #11111b;
$onPrimaryFixedVariant: #45475a;
$secondaryFixed: #f5c2ce;
$secondaryFixedDim: #f5c2ce;
$onSecondaryFixed: #181825;
$onSecondaryFixedVariant: #45475a;
$tertiaryFixed: #f9bdaf;
$tertiaryFixedDim: #fa8794;
$onTertiaryFixed: #11111b;
$onTertiaryFixedVariant: #313244;
$success: #bac2de;
$onSuccess: #1e1e2e;
$successContainer: #45475a;
$onSuccessContainer: #cdd6f4;
$term0: #181825;
$term1: #f38ba8;
$term2: #fab387;
$term3: #f5c2e7;
$term4: #a6adc8;
$term5: #f38ba8;
$term6: #fab387;
$term7: #f5c2e7;
$term8: #eba0ac;
$term9: #eba0ac;
$term10: #cdd6f4;
$term11: #cdd6f4;
$term12: #f9e2af;
$term13: #f5c2e7;
$term14: #cdd6f4;
$term15: #f5c2e7;
