$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #d53659;
$secondary_paletteKeyColor: #b24c5e;
$tertiary_paletteKeyColor: #1fbe9f;
$neutral_paletteKeyColor: #817475;
$neutral_variant_paletteKeyColor: #847375;
$background: #191113;
$onBackground: #efdee0;
$surface: #191113;
$surfaceDim: #191113;
$surfaceBright: #413738;
$surfaceContainerLowest: #140C0D;
$surfaceContainerLow: #22191B;
$surfaceContainer: #261D1F;
$surfaceContainerHigh: #312829;
$surfaceContainerHighest: #3C3234;
$onSurface: #efdee0;
$surfaceVariant: #524345;
$onSurfaceVariant: #d6c2c4;
$inverseSurface: #EFDEE0;
$inverseOnSurface: #382E2F;
$outline: #9F8C8F;
$outlineVariant: #524345;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB1C0;
$primary: #ffb1c0;
$onPrimary: #551d2b;
$primaryContainer: #911330;
$onPrimaryContainer: #ffd9df;
$inversePrimary: #b52244;
$secondary: #f7aab6;
$onSecondary: #43292e;
$secondaryContainer: #732835;
$onSecondaryContainer: #ffd9df;
$tertiary: #7dffe6;
$onTertiary: #462a08;
$tertiaryContainer: #33ddbc;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #ffdad6;
$primaryFixed: #ffd9df;
$primaryFixedDim: #ffb1c0;
$onPrimaryFixed: #3a0717;
$onPrimaryFixedVariant: #713341;
$secondaryFixed: #ffd9df;
$secondaryFixedDim: #f7aab6;
$onSecondaryFixed: #2b151a;
$onSecondaryFixedVariant: #5c3f44;
$tertiaryFixed: #bcfff2;
$tertiaryFixedDim: #7dffe6;
$onTertiaryFixed: #2c1700;
$onTertiaryFixedVariant: #5f401d;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #d1e9d6;
$term0: #22181A;
$term1: #FF5078;
$term2: #FFBCB1;
$term3: #FFDEDC;
$term4: #B3A3D5;
$term5: #EC8FA7;
$term6: #FFBA92;
$term7: #EFD1CF;
$term8: #CBB4B3;
$term9: #FFA8B3;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #F9D7AC;
$term13: #FFCDD6;
$term14: #FFF9F8;
$term15: #FFD9DF;
